<html>
<head>
    <meta charset="UTF-8">
    <title>Z A C K | {{page.title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/pics/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <script src="https://kit.fontawesome.com/85d8d9e99c.js" crossorigin="anonymous"></script>
</head>
<body>
 
  <!-- Navigation section -->
   <section class="navigation">
        <div class="navigation-wraper">
        <a href="/index.html"><div class="footer-logo"><img class="logo-img" src="/pics/logo.png" alt=""></div></a>
        <button id="humberger-menu" class="humberger-menu">
            <span class="hamburger"></span>
        </button>
        </div>
       <nav class="navigation-menu">
           <ul class="navigation-menu-list">
               <li><a href="/index.html">home</a></li>
               <li><a href="/about/">About</a></li>
               <li><a href="/#services">Services</a></li>
               <li><a href="/blog/">Blog</a></li>
           </ul>
       </nav>
   </section>
   <!-- End Navigation section -->

   {{content}}
    
  <!-- Footer section -->
    <footer class="footer">
      <div class="footer-title-wraper">
       <h1 class="footer-title">You got a project ? let's talk</h1>
       <div class="alert-msg-container">
           <p class="alert-msg">email copied <i class="far fa-smile-beam" style="color: white"></i></p>
       </div>
       <button class="footer-btn btn" onclick="function copyToClipboard()">Copy email</button>
      
       </div>
       <div class="footer-navigation-wraper">
       <a href="/index.html"><div class="footer-logo"><img class="logo-img" src="/pics/logo.png" alt=""></div></a>
       <nav class="footer-navigation">
           <ul>
               <li><a href="/#services">Services</a></li>
               <li><a href="/about.html">About</a></li>
               <li><a href="/blog/index.html">Blog</a></li>
           </ul>
       </nav>
       <div class="footer-social-links">
          <h2>follow me on :</h2>
          <div class="social-links">
             <a href="https://www.instagram.com/za_ach/"  target="_blank"><i class="fab fa-instagram fa-2x" style="color: white"></i></a>
             <a href="https://twitter.com/Zakariae_Bl" target="_blank"><i class="fab fa-twitter fa-2x" style="color: white"></i></a>
             <a href="https://www.facebook.com/zakaria.bel.7165/"  target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
          </div>
       </div>
       </div>
    </footer>
  <!--End Footer section -->
        
</body>
</html>