<html>
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <script src="https://kit.fontawesome.com/85d8d9e99c.js" crossorigin="anonymous"></script>
</head>
<body>
 
  <!-- Navigation section -->
   <section class="navigation">
        <div class="navigation-wraper">
       <div class="logo">Zack</div>
        <button id="humberger-menu" class="humberger-menu">
            <span class="hamburger"></span>
        </button>
        </div>
       <nav class="navigation-menu">
           <ul class="navigation-menu-list">
               <li><a href="/index.html">home</a></li>
               <li><a href="/about.html">About</a></li>
               <li><a href="/#services">Services</a></li>
               <li><a href="/blog/index.html">Blog</a></li>
           </ul>
       </nav>
   </section>
   <!-- End Navigation section -->

   {{content}}
    
  <!-- Footer section -->
    <footer class="footer">
      <div class="footer-title-wraper">
       <h1 class="footer-title">You got a project ? let's talk</h1>
       <button class="footer-btn btn">Copy email</button>
       </div>
       <nav class="footer-navigation container">
           <ul>
               <li><a href="#"></a>About</li>
               <li><a href="#"></a>Contact me</li>
               <li><a href="#"></a>Blog</li>
           </ul>
       </nav>
    </footer>
  <!--End Footer section -->
        
</body>
</html>