---
layout: default
---

<div class="home">
 <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}-->

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: " articles :" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
       
        <img src="{{post.img}}" alt="" class="post-img">
        <div class="post-title-wrapper">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p style="color:#828282">{{ post.content | strip_html | truncatewords: 15 }}</p>
        <a class="post-read-more" href="{{ post.url | relative_url }}" >read more →</a>
        </div>
            {%- if site.show_excerpts -%}
                {{ post.excerpt }} 
            {%- endif -%}
           
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
   
</div>
